<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добро пожаловать в Суперлигу</title>
</head>
<body>
    <h1>Добро пожаловать в Суперлигу</h1>
    <table>
      <colgroup>
    <col span="3" style="background:#57c414"><!-- С помощью этой конструкции задаем цвет фона для первых трех столбцов таблицы-->
    <col style="background-color:#2d87c7"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>
    <tr>
        <th>N</th>
        <th>Клуб</th>
        <th>Страна</th>
        <th>Рейтинг</th>
    </tr>
        {% for i in club %}

    <tr>
        <td>  <h3>{{ i.id }} </h3> </td>
        <td>  <h3>{{ i.club_name }} </h3> </td>
        <td>  <h3>{{ i.coutry }} </h3> </td>
        <td>  <h3>{{ i.rating }} </h3> </td>


    </tr>
        {% endfor %}
    </table>
<p><button>Погнали</button> </p>
</body>
</html>